<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>21 Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Detail Bioskop</h2>
                <br>
                <p th:text="'Nomor Bioskop : ' + ${bioskop.noBioskop}"></p>
                <p th:text="'Nama Bioskop : ' + ${bioskop.namaBioskop}"></p>
                <p th:text="'Alamat Bioskop : ' + ${bioskop.alamatBioskop}"></p>
                <p th:text="'Jumlah Studio Bioskop : ' + ${bioskop.jumlahStudio}"></p>
                <p th:text="'Waktu Buka Bioskop : ' + ${bioskop.waktuBuka}"></p>
                <p th:text="'Waktu Tutup Bioskop : ' + ${bioskop.waktuTutup}"></p>
                <div th:if="${isBioskopClose}">
                    <div class="alert alert-danger" role="alert">
                        Bioskop Sudah Tutup
                    </div>
                    <a class="btn btn-outline-danger" th:href="@{/bioskop/delete/} + ${bioskop.noBioskop}">Delete Bioskop</a>
                </div>
                <div th:unless="${isBioskopClose}">
                    <div class="alert alert-success" role="alert">
                        Bioskop Buka
                    </div>
                    <a class="btn btn-outline-danger disabled" th:href="@{/bioskop/delete/} + ${bioskop.noBioskop}" role="button" aria-disabled="true">Delete Bioskop</a>
                </div>
                <br>
                <div th:if="*{listPenjaga.size() != 0}">
                    <form th:action="@{/penjaga/delete}" th:object="${bioskop}" method="POST">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>No Penjaga</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th></th>
                            <th>Hapus</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="penjaga, iterationStatus : ${listPenjaga}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${penjaga.noPenjaga}"></td>
                            <td th:text="${penjaga.namaPenjaga}"></td>
                            <td th:if="${penjaga.jenisKelamin == 0}">Laki-Laki</td>
                            <td th:if="${penjaga.jenisKelamin == 1}">Perempuan</td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/penjaga/update/} + ${penjaga.noPenjaga}">Update</a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/penjaga/delete/} + ${penjaga.noPenjaga}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
                <div th:unless="*{listPenjaga.size() != 0}">
                    <h2 th:text="'Tidak ada penjaga'"></h2>
                </div>
                <br>
                <a class="btn btn-primary" href="/bioskop/viewall">Kembali</a>
                <a class="btn btn-primary" th:href="@{/penjaga/add/} + ${bioskop.noBioskop}">Tambah Penjaga</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>